* {
  box-sizing: border-box;
}
html{
  width: 100vw;
  height: 100vh;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f4!important;
}
#root{
  width: 100vw;
  height: 100vh;
}
